
body {
    font-size: 22px;
}
.container {
    margin-top: 20px;
    font-size: 22px;
}

#profileImg {
    width: 40%;
}

.container h3{
    color: black;
    font-size: 22px;
    width: 60%;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.container p {
    margin-top:5px;
}

.selfintroduction p{
    width: 90%;
    text-align: left;
    margin-left: 30px;
    margin-top: 70px;
}

ul.skillsets {
    text-align: left;
    width: 75%;
    margin-left: 30px;
    margin-top: 5px;
    padding-left: 10px;
    line-height: 35px;
}

ul.skillsets li{
    margin-top:4px;
    margin-bottom: 4px;
}

.selfintroduction {
    line-height: 35px;
}


